nbproject
tags
*-backup*
*.old*
.htaccess
*local.php*
*/thumb/cache/*
*/thumb/cache/!index.php!
*/thumb/cache/!source!
.Spotlight-V100
.Trashes
Thumbs.db
run/vagrant/.vagrant
vendor/*
vendor/!devil!
composer.phar
composer.lock
public/galeria/*
config/autoload/local.php
galeria/*
includes/config.php
plugins/thumb*
