#projetos #categorias .page > div a > div p { position: absolute; left:0; top: 50%; }
#projetos #categorias .page > div a > div p span { display:block; position:relative; top:-50%; }
#projetos .projetos_nav { margin:25px 0 0 0; }

#projetos div.voltar p { position: absolute; left:80px; top: 50%; }
#projetos div.voltar p span { display:block; position:relative; top:-50%; }

#projetos #categorias ul li > div a:hover > div { background-position:-80px left; }
#projetos #categorias li > div a > div > div {
	position: absolute;
	top: 50%; right:0;
	padding:0 30px 0 80px;
}
#projetos #categorias li > div a > div > div span {
	position: relative;
	top: -50%;
}