	* { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }
html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
::-moz-selection { background: #D7625C; color: #F2F2F2; text-shadow: none; }
::selection { background: #D7625C; color: #F2F2F2; text-shadow: none; }
a { color: #00e; text-decoration:none; outline:none; }
a:hover, a:active, a:focus { }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
legend { border: 0; *margin-left: -7px; padding: 0; }
label { cursor: pointer; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0; }

/* =============================================================================
   Primary styles for Vanessa Guerra Arquitetura
   Author: Maicon M. Borges, CUB
   ========================================================================== */
	 
@font-face {
    font-family: 'TitilliumText22LRegular';
    src: url('../font/titilliumtext22l003-webfont.eot');
    src: url('../font/titilliumtext22l003-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/titilliumtext22l003-webfont.woff') format('woff'),
         url('../font/titilliumtext22l003-webfont.ttf') format('truetype'),
         url('../font/titilliumtext22l003-webfont.svg#TitilliumText22LRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TitilliumText22LMedium';
    src: url('../font/titilliumtext22l004-webfont.eot');
    src: url('../font/titilliumtext22l004-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/titilliumtext22l004-webfont.woff') format('woff'),
         url('../font/titilliumtext22l004-webfont.ttf') format('truetype'),
         url('../font/titilliumtext22l004-webfont.svg#TitilliumText22LMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TitilliumText22LBold';
    src: url('../font/titilliumtext22l005-webfont.eot');
    src: url('../font/titilliumtext22l005-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/titilliumtext22l005-webfont.woff') format('woff'),
         url('../font/titilliumtext22l005-webfont.ttf') format('truetype'),
         url('../font/titilliumtext22l005-webfont.svg#TitilliumText22LBold') format('svg');
    font-weight: normal;
    font-style: normal;
}


.endereco,
#espera .endereco {
	font-family:TitilliumText22LRegular; font-size:12px; line-height:16px;
}
#menu a,
.texto p,
#frm_contato input,
#frm_contato textarea,
#espera .em_breve p {
	font-family:TitilliumText22LRegular; font-size:14px; line-height:18px;
}
#projetos #categorias .page > div a p,
#projetos #busca input,
#projetos .compartilhar span {
	font-family:TitilliumText22LRegular; font-size:16px; line-height:20px;
}
#espera .em_breve p strong {
	font-family:TitilliumText22LRegular; font-size:26px; line-height:30x;
}
#galeria_trabalhos ul li div span,
#projetos .voltar,
#projetos #breadcrumbs p a {
	font-family:TitilliumText22LRegular; font-size:18px; line-height:22px;
}
#galeria_trabalhos ul li div p {
	font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:15px;
}
#projetos #breadcrumbs p {
	font-family:TitilliumText22LMedium; font-size:18px; line-height:22px;
}
h2 {
	font-family:TitilliumText22LBold; font-size:20px; line-height:24px;
}
#frm_contato input[type=submit] {
	font-family:TitilliumText22LBold; font-size:14px; line-height:18px;
}
#projetos .descricao p,
#projetos #galeria_multimidia .stage ul li {
	font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:15px;
}
#menu_categorias li a {
	font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:16px;
}

/* =============================================================================
   BASE
   ========================================================================== */

body { background:url(../imagens/background.jpg) top left repeat;  }
body , html { height:100%; }

#wrapper { min-width:1004px; height:100%; }

div.center { position:relative; width:964px; margin:0 auto; overflow:hidden; }

div.loader {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	background:#000 center center no-repeat;
	opacity:0.5;
	z-index:999;
}

div.left { float:left; }
div.right { float:right; }

.rodape {
	clear:both;
	height:15px;
	margin: 20px 10px 0 0;
}
a.cub {
	float:right;
	display:block;
	width:24px;
	height:15px;
	background: url(../imagens/logo_cub.png) top left no-repeat;
}
a.cub:hover { background-position:bottom left; }

/* =============================================================================
   ESPERA 
   ========================================================================== */

#espera {
	position:relative;
	top:50%;
	margin-top:-175px;
	min-width:320px; min-height:350px;
	text-align:center;
}
#espera img { vertical-align:bottom; }
#espera .em_breve {
	height:140px;
	margin:75px 0 50px 0;
	background:url(../imagens/filtro.png) top left repeat;
}
#espera .em_breve p { padding:50px 0; color:#FFF; }
#espera .em_breve p strong { text-align:center; text-transform:uppercase; display:block; font-weight:normal; margin:0 0 10px 0; }

#espera .endereco { color:#888; }


/* =============================================================================
   HEADERS 
   ========================================================================== */
	 
h1,h2,h3,h4,h5,h6 { font-weight:normal; }

h1 { float:left; width:320px; height:42px; margin:75px 0 75px 80px; }

h1 a {
	display:block;
	height:100%;
	background:url(../imagens/logo.png) top left no-repeat;
	text-indent:-999em;
}

h2 { color:#FFF; }


/* =============================================================================
   GALERIA 
   ========================================================================== */
	 
#galeria_trabalhos,
#galeria_trabalhos ul.lista,
#galeria_trabalhos ul.lista li {
	position:relative;
	height:480px;
}
#galeria_trabalhos { overflow:hidden; width:1004px; margin:0; }
#galeria_trabalhos ul.lista { margin:0; padding:0; list-style:none; position:relative; }
#galeria_trabalhos ul.lista li { float:left; width:1004px; overflow:hidden; }
#galeria_trabalhos.ipad,
#galeria_trabalhos.ipad ul.lista li { width:1024px !important; }
#galeria_trabalhos ul.lista li img {
	opacity:0.25;
	-moz-opacity:0.25;
	-webkit-opacity:0.25;
	filter: alpha(opacity=25);
}
#galeria_trabalhos ul.lista li div {
	position:absolute;
	bottom:90px;
	left:100px;
	width:390px;
	height:110px;
	background:url(../imagens/background_galeria_detalhes.png) top left no-repeat;
	display:none; 
}
#galeria_trabalhos ul.lista li div > * { position:absolute; text-align:right; width:250px; display:block; }
#galeria_trabalhos ul.lista li div > a { left:0; height:100%; width:80px; background:#000; opacity:0.0; -moz-opacity:0.0; -webkit-opacity:0.0; filter: alpha(opacity=0);  }
#galeria_trabalhos ul.lista li div span { bottom:50px; right:30px; color:#FFF; text-transform:uppercase; max-height:45px; overflow: hidden; }
#galeria_trabalhos ul.lista li div p { top:65px; right:30px;  }
#galeria_trabalhos ul.lista li div p,
#galeria_trabalhos ul.lista li div p a,
#galeria_trabalhos ul.lista li div span a { color:#FFF; }
#galeria_trabalhos ul.lista li div p a:hover,
#galeria_trabalhos ul.lista li div span a:hover { color: #DDBA2A; }
#galeria_trabalhos ul.lista li.selected img {
	opacity:1.0;
	-moz-opacity:1.0;
	-webkit-opacity:1.0;
	filter: alpha(opacity=100);
}
#galeria_trabalhos ul.lista li.selected div { display:block; }


#galeria_trabalhos ul.nav {
	position:absolute;
	left:50%;
	bottom:20px;
	padding:0;
	list-style:none;
}
#galeria_trabalhos ul.nav li { float:left; }
#galeria_trabalhos ul.nav li a {
	display:block;
	width:11px;
	height:10px;
	padding:5px;
	background:url(../imagens/projetos_galeria_nav.png) bottom left no-repeat;
}
#galeria_trabalhos ul.nav li a:hover,
#galeria_trabalhos ul.nav li a.selected { background-position: top left; }

/* =============================================================================
   TOPO 
   ========================================================================== */
	 
#topo { background:url(../imagens/shadow_top_262626.png) top left repeat-x; }

#menu { float:right; list-style:none; margin:75px 0; padding:0; }
#menu li { float:left }
#menu li a {
	display:block;
	color:#696969;
	height:40px;
	line-height:40px;
	padding:0 25px;
	margin:0 5px;
}
#menu li a:hover { color:#DDBA2A; }
#menu li a.selected { color:#000; background: url(../imagens/background_menu.jpg) top left repeat-x; }


/* =============================================================================
   ESCRITORIO 
   ========================================================================== */
	 
#escritorio .galeria,
#sobre .galeria { position:relative;  }
#escritorio .galeria img { position:absolute; left:0; top:0; display:block; border:10px solid #FFF; }
.galeria.left { margin:0 24px 0 0; width:250px; height:240px; }
.galeria.right { margin:0 0 0 24px; width:400px; height:383px; }
	 
	 
/* =============================================================================
   CONTEUDO 
   ========================================================================== */
	 
#conteudo { position:relative; display:none; }
#conteudo #contato,
#conteudo #projetos,
#conteudo .escritorio,
#conteudo .sobre { position:relative; padding:30px 0; background:url(../imagens/shadow_top_434343.png) #434343 top left repeat-x; }
#conteudo #escritorio,
#conteudo .sobre { background:url(../imagens/shadow_top_434343.png) #333333 top left repeat-x; }

#conteudo .texto { max-width:540px; }
#conteudo .texto p { color:#CCC; margin:25px 0 0 0; }


/* =============================================================================
   PROJETOS 
   ========================================================================== */


#breadcrumbs , #categorias_nav , #busca , #projetos div.voltar , #projetos .descricao{ float:left; }
#categorias { clear:both; }

#projetos #breadcrumbs {
	width:560px;
	height:50px;
	background-color:#FFF;
	margin:0 10px 10px 0;
	overflow:hidden;
}
#projetos #breadcrumbs p {
	float:left;
	margin:0 0 0 20px;
	line-height:50px;
	color:#D4D4D4;
	text-transform:uppercase;
	white-space:nowrap;
	overflow:auto;
}
#projetos #breadcrumbs p a { color:#A8A8A8; }
#projetos #breadcrumbs p a:first-child { color:#D4D4D4; }
#projetos #breadcrumbs p a:hover { color:#666; }

#projetos #categorias_nav { position:relative; z-index:10; background:#FFF; margin:0 10px 10px 0; }
#projetos #categorias_nav.hover { background-color:#DDBA2A; border-bottom:10px solid #DDBA2A; margin-bottom:0; }
#projetos #categorias_nav > a {
	display:block;
	background:url(../imagens/categorias_nav.png) center center no-repeat;
	width:70px;
	height:50px;
}

#projetos #menu_categorias {
	position:absolute;
	left:-245px;
	top:60px;
	padding:10px 0 10px 1px;
	width:314px;
	height:165px;
	margin:0;
	list-style:none;
	background-color:#DDBA2A;
	overflow:hidden;
	z-index:10;
	display:none;
}
#projetos #menu_categorias.maior {
	width:630px;
	padding:10px 5px;
}
#projetos #menu_categorias li {
	float:left;
	width:157px;
}
#projetos #menu_categorias li a {
	display:block;
	margin:0 10px 0 10px;
	padding: 9px 10px 8px 10px;
	text-align:center;
	color:#6C5D1B;
	white-space:nowrap;
	overflow:hidden;
	font-weight:bold;
}
#projetos #menu_categorias li a:hover { color:#393215; background-color:#B59922; }

#projetos #busca {
	background-color:#1F1F1F;
	height:50px;
	width:314px;
	margin:0 0 10px 0;
	-moz-box-shadow: inset 0 0 5px #0D0D0D;
	-webkit-box-shadow: inset 0 0 5px #0D0D0D;
	box-shadow: inset 0 0 5px #0D0D0D;
}
#projetos #busca input {
	color:#FFF;
	height:50px;
	line-height:50px;
	background:url(../imagens/background_busca.png) 250px center no-repeat;
	border:none;
	width:208px;
	padding:0 87px 0 20px;
	margin:0 0 20px 0;
}

#projetos #categorias { width:975px;margin:0 0 0 -5px; }
#projetos #categorias ul { overflow:hidden; margin:0; padding:0; list-style:none; }
#projetos #categorias ul li { width:975px; overflow:hidden; }
#projetos #categorias ul li > div { float:left; margin: 0 5px 10px 5px; width:315px; height:185px; }
#projetos #categorias ul li > div a { position:relative; display:block; border:10px solid #FFF; height:165px; }
#projetos #categorias ul li > div a:hover > div { background-position:bottom left; }
#projetos #categorias ul li > div a > div {
	cursor:pointer; 
	display: table;
	position:absolute;
	bottom:0; left:0;
	width:100%;
	height:80px;
	color:#FFF;
	background:url(../imagens/background_projetos_box_div.png) top left no-repeat;
	text-transform:uppercase;
	overflow:hidden;
}
#projetos #categorias li > div a > div > div {
	padding:0 30px 0 115px;
	display: table-cell;
	vertical-align: middle;
	text-align:right;
}
#projetos #categorias li > div a > div > div span {
	
}
#projetos .wrap_projetos_nav { text-align:center; }
#projetos .projetos_nav { margin:15px 0 0 0; display:inline-block; }
#projetos .projetos_nav a {
	display:block;
	float:left;
	width:11px;
	height:10px;
	padding:5px;
	text-indent:-999em;
	background:url(../imagens/projetos_galeria_nav.png) bottom left no-repeat;
}
#projetos .projetos_nav a.activeSlide,
#projetos .projetos_nav a:hover { background-position: top left; }

#projetos div.voltar {
	position:relative;
	display:table;
	width:355px;
	height:80px;
	margin:0 10px 10px 0;
	text-align:right;
	text-transform:uppercase;
	background:url(../imagens/filtro_90.png);
}
#projetos div.voltar > * { display:block; }
#projetos div.voltar > a { float:left; height:80px; width:80px; background:url(../imagens/background_voltar.png) 30px center no-repeat; }
	
#projetos div.voltar p {
	width:215px;
	padding:0 30px;
	color:#FFF;
	display:table-cell;
	vertical-align: middle;
}

#projetos .descricao {
	position:absolute;
	top:60px;
	right:0;
	width:559px;
	height:60px;
	padding:10px 20px;
	margin:0 0 10px 0;
	background:url(../imagens/filtro_90.png);
	overflow:hidden;
	z-index:9;
}
#projetos .descricao.ipad {
	width:524px;
	padding:10px 55px 10px 20px;
}
#projetos .descricao p { color:#FFF; margin:0 0 8px 0; }
#projetos .descricao div.maior { display:none; }
#projetos .descricao > a {
	position:absolute;
	top:50%; right:20px;
	margin-top:-8px;
	display:block;
	width:15px; height:15px;
	background:url(../imagens/botao_descricao_ver.png) top left no-repeat;
}
#projetos .descricao > a.open { background-position: bottom left !important; }

#projetos .compartilhar { height:40px;  }
#projetos .compartilhar > * { display:block; float:left; text-transform:uppercase; margin:15px 0 0 10px; }
#projetos .compartilhar span { color:#FFF; margin-left:0; margin-right:5px; }
#projetos .compartilhar a {
	width:22px;
	height:22px;
	text-indent:-999em;
	background-position:top left;
}
#projetos .compartilhar a:hover { background-position:bottom left; }
#projetos .compartilhar a.facebook { background-image:url(../imagens/ic_facebook_pequeno.png); }
#projetos .compartilhar a.twitter { background-image:url(../imagens/ic_twitter_pequeno.png); }



#projetos #galeria_multimidia {
	clear:both;
	background:#666;
}
#projetos #galeria_multimidia .stage {
	position:relative;
	text-align:center;
	padding:10px 0 0 0;
	height:610px;
	line-height:580px;
	background:url(../imagens/ajax-loader.gif) center center no-repeat;
}
#projetos #galeria_multimidia .stage img,
#projetos #galeria_multimidia .stage iframe { display:inline; vertical-align:middle; margin-top:-4px; }
#projetos #galeria_multimidia .stage > a {
	position:absolute;
	top:0;
	display:block;
	height:600px;
	width:70px;
	background-position: center center;
	background-repeat:no-repeat;
	z-index:10;
	opacity:0.2;
	-moz-opacity:0.2;
	-webkit-opacity:0.2;
	filter: alpha(opacity=30);
}
#projetos #galeria_multimidia .stage > a:hover {
	opacity:1.0;
	-moz-opacity:1.0;
	-webkit-opacity:1.0;
	filter: alpha(opacity=100);
}
#projetos #galeria_multimidia .stage ul {
	margin:0 10px; padding:0; list-style:none;
	height:30px;
}
#projetos #galeria_multimidia .stage ul li {
	line-height:30px;
	overflow:hidden;
	color:#FFF;
	display:none;
}
#projetos #galeria_multimidia .stage ul li.selected { display:block; }
#projetos #galeria_multimidia .stage a.anterior { left:10px; background-image:url(../imagens/botao_galeria_stage_anterior.png); }
#projetos #galeria_multimidia .stage a.proximo { right:10px; background-image:url(../imagens/botao_galeria_stage_proximo.png); }

#projetos #galeria_multimidia .carousel {
	position:relative;
	background:url(../imagens/galeria_shadow.png) top left repeat-x;
	height:86px;
	padding:10px 0;
}
#projetos #galeria_multimidia .carousel > div {
	width:780px;
	margin:0 auto;
	overflow:hidden;
	text-align:center;
}
#projetos #galeria_multimidia .carousel.ipad > div { width:936px; }
#projetos #galeria_multimidia .carousel ul { margin:0 auto; padding:0; list-style: none; }
#projetos #galeria_multimidia .carousel ul li {
	float:left;
	overflow:hidden;
	width:156px;
}
#projetos #galeria_multimidia .carousel.ipad ul li { width:936px; }
#projetos #galeria_multimidia .carousel ul li div {
	position:relative;
	float:left;
	text-align:center;
	margin:0 8px;
	width:140px;
	opacity:0.3;
	-moz-opacity:0.3;
	-webkit-opacity:0.3;
	filter: alpha(opacity=30);
}
#projetos #galeria_multimidia .carousel ul li div em {
	cursor:pointer;
	position:absolute; top:0; left:0;
	display:block; height:86px; width:100%;
	background:url(../imagens/play.png) center center no-repeat;
}
#projetos #galeria_multimidia .carousel.ipad ul li { width:936px; }
#projetos #galeria_multimidia .carousel ul li img { cursor:pointer; vertical-align:bottom; }
#projetos #galeria_multimidia .carousel > a {
	position:absolute;
	top:10px;
	display:block;
	height:86px;
	width:82px;
	background-position: center center;
	background-repeat:no-repeat;
	opacity:0.2;
	-moz-opacity:0.2;
	-webkit-opacity:0.2;
	filter: alpha(opacity=20);
}
#projetos #galeria_multimidia .carousel.ipad > a { display:none; }
#projetos #galeria_multimidia .carousel a.anterior { left:10px; background-image:url(../imagens/botao_galeria_carousel_anterior.png); }
#projetos #galeria_multimidia .carousel a.proximo { right:10px; background-image:url(../imagens/botao_galeria_carousel_proximo.png); }

#projetos #galeria_multimidia .carousel ul li div.selected,
#projetos #galeria_multimidia .carousel > a:hover {
	opacity:1.0;
	-moz-opacity:1.0;
	-webkit-opacity:1.0;
	filter: alpha(opacity=100);
}
#projetos #galeria_multimidia a.inactive,
#projetos #galeria_multimidia a.inactive:hover {
	cursor:default;
	opacity:0.1;
	-moz-opacity:0.1;
	-webkit-opacity:0.1;
	filter: alpha(opacity=10);
}


/* =============================================================================
   CONTATO 
   ========================================================================== */

#frm_contato { width:490px; margin:25px 20px 0 0; }
#frm_contato input,
#frm_contato textarea {
	padding:0 25px;
	margin:0 0 5px 0;
	width:440px;
	border:none;
	color:#FFF;
	resize:none;
	outline:none;
	border-radius:0;
	background-position:top left;
}

#frm_contato input { height:37px; line-height:37px; background-image:url(../imagens/background_input.jpg); }
#frm_contato textarea { height:93px; padding: 12px 25px; margin-bottom:10px; background-image:url(../imagens/background_textarea.jpg); }
#frm_contato input[type=submit] {
	float: left;
	margin:0 20px 0 0;
	height:57px;
	line-height:57px;
	color:#000;
	text-align:center;
	width:160px;
	background:url(../imagens/botao_enviar.jpg) top left repeat-x;
	text-transform: uppercase;
}
#frm_contato p.alerta { float:left; line-height:57px; margin:0; width:310px; color:#F00; }
#frm_contato p.alerta span { color:#0C0; }
#frm_contato input:focus,
#frm_contato textarea:focus { background-position:bottom left; }

#contato .mapa { margin:110px 0 10px 0; border:10px solid #FFF; }

#contato .endereco { text-align:right; float: right; color:#FFF; margin-right:10px; }

#contato .midias { float:left; margin:10px 0 0 0; }
#contato .midias a {
	float:left;
	display:block;
	width:32px;
	height:32px;
	background-position:bottom left;
	background-repeat:no-repeat;
	text-indent:-999em;
	margin:0 5px 0 0;
}
#contato .midias a:hover { background-position:top left; }
#contato .midias a.facebook { background-image:url(../imagens/ic_facebook.png); }
#contato .midias a.twitter { background-image:url(../imagens/ic_twitter.png); display:none; }

#contato div.right { width:450px; }
#contato div.left { width:490px; }
